[Desktop Entry]
Name=Kaforge
Exec=kaforge
Icon=kaforge
Type=Application
Categories=Development;Utility;
Comment=A native desktop app starter written in Rust and GPUI
Terminal=false
StartupWMClass=kaforge
StartupNotify=true
